.coinsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;

    .coin {
        display: flex;
        align-items: center;
        background-color: #FFE3F9;
        border: 3px solid #FC8DFE;
        border-radius: 10px;
        width: 250px;

        img {
            width: 100px;
            height: fit-content;
            padding: 5px;
            margin-right: 5px;
            border-radius: 100px;
        }

        h1 {
            font-size: 20px;
            padding: 3px 0;
        }

        p {
            font-size: 14px;
            padding: 3px 0;
            width: fit-content;
        }
    }
}