.home {
    height: 100%;
    display: flex;

    .homeLeft {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        width: 45%;

        .introBox {
            color: #6c0145;
            background: #FFD0F5;
            padding: 20px 0;
            border: 4px solid #FF9AD1;
            text-align: center;
            border-radius: 10px;
            font-size: 18px;
            margin-bottom: 20px ;
    
            h2, p {
                margin: 0
            }
        }
    
        .formBox {
            color: #6c0145;
            background: #FFD0F5;
            padding: 15px;
            border: 4px solid #FF9AD1;
            text-align: center;
            border-radius: 10px;
            font-size: 20px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 20px ;

            span {
                color: white;
                background-color: #a4008e;
                padding: 8px;
                border-radius: 100%;
                display: flex;
            }
        }    
    
        .navBtn {
            color: #6c0145;
            background: #FFD0F5;
            padding: 15px;
            font-family: inherit;
            font-size: 20px;
            text-decoration: none;
            border: 4px solid #FF9AD1;
            text-align: center;
            border-radius: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
}