.title {
    padding-bottom: 30px;
    color: #6c0145;
    text-align: center;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6c0145;

    .alert {
        background: #ff5c5c;
        border: 2px solid red; 
        font-family: inherit; 
        margin-bottom: 15px;
    }

    span {
        padding-bottom: 20px;
    }
}