.expenses {
    padding: 30px 0;

    .forms {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .formBox {
            padding: 30px;
            background: #FFD0F5;
            border-radius: 10px;
            border: 4px solid #FF9AD1;
            display: flex;
            flex-direction: column;

            .formHead {
                display: flex;
                justify-content:space-between;
                margin-bottom: 20px;

                h1 {
                    font-size: 30px;
                    color: #5a0048;
                }
            }

            .formBody {
                display: flex;

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }
            }
        }
    }

    .categoriesTable {
        margin: 0 auto;
        width: 80%;

        .head {
            background-color: #ffbfee;

            .categorieHeader {
                font-family: inherit;
                font-weight: bold;
                font-size: 20px;
                color: #5a0048;
            }
        }

        .categorieData {
            font-family: inherit;
        }

        .categorieData:nth-child(3) {
            font-weight: 600;
        }

        .loading {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }

        .pigImg {
            width: 300px;
            height: 100%;
            margin-top: 70px;
            animation: rotation 2s infinite linear;
        }

        .noData {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
    }
}