.expenses {

    .forms {
        display: flex;

        .formsBox {
            display: flex;
        }
    }

    .categoriesTable {
        margin: 0 auto;
        width: 80%;

        .head {
            background-color: #ffbfee;

            .categorieHeader {
                font-family: inherit;
                font-weight: bold;
                font-size: 20px;
            }
        }

        .categorieData {
            font-family: inherit;
        }

        .categorieData:nth-child(3) {
            font-weight: 600;
        }
    }
}